@font-face
  font-family 'Caslon224Std-BlackItalic'
  src url('../fonts/Caslon_224/Caslon224Std-BlackItalic/Caslon224Std-BlackItalic.ttf')
  font-weight: normal
  font-style: normal
  
@font-face
  font-family: 'Caslon224Std-MediumItalic'
  src: url('../fonts/Caslon_224/Caslon224Std-MediumItalic/Caslon224Std-MediumItalic.ttf')
       
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Caslon224Std-BoldItalic'
  src: url('../fonts/Caslon_224/Caslon224Std-BoldItalic/Caslon224Std-BoldItalic.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Caslon224Std-BookItalic'
  src: url('../fonts/Caslon_224/Caslon224Std-BookItalic/Caslon224Std-BookItalic.ttf')    
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Caslon224Std-Bold'
  src: url('../fonts/Caslon_224/Caslon224Std-Bold/Caslon224Std-Bold.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'AdobeCaslonPro-Regular'
  src: url('../fonts/Adobe_Caslon/ACaslonPro-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SuisseIntlCond-Medium'
  src: url('../fonts/Suisse/Suisse-Intl-Condensed-Medium/SuisseIntlCond-Medium-Web/S/SuisseIntlCond-Medium-WebS.ttf')    
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SuisseIntlCond-Light'
  src: url('../fonts/Suisse/Suisse-Intl-Condensed-Light/SuisseIntlCond-Light-Web/S/SuisseIntlCond-Light-WebS.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SuisseIntlCond-Regular'
  src: url('../fonts/Suisse/Suisse-Intl-Condensed-Regular/SuisseIntlCond-Regular-Web/S/SuisseIntlCond-Regular-WebS.ttf')
  font-weight: normal
  font-style: normal
