body, h1, h2, h3, h4, h5, h6, p
   margin: 0

section
  margin-bottom: 150px
  
  @media $desktop
    margin-bottom: 75px

.unit_elem
  margin-bottom: 33px
  
  @media $desktop
    margin-bottom: 20px

.section_elem
  margin-bottom: 66px
  
  @media $desktop
    margin-bottom: 40px

.bg-blur
  z-index: 0
  opacity: 0.3
  position: absolute
  min-height: 100%
  height: auto
  display: block
  top: 0
  max-height: none
  width: 100%