$desktop-max = "only screen and (min-width: 1320px)"
$desktop = "only screen and (max-width: 1320px)"
$tablet = "only screen and (max-width: 780px)"
$mobile-max = "only screen and (max-width: 540px)"
$mobile = "only screen and (max-width: 400px)"
$mobile-sm = "only screen and (max-width: 350px)"

$bg_header = #000000
$color_primary = #FFFFFF
$content_color_primary = #000000
$content_about_color = #FCD800
$content_copyright_color = #26161C
$content_author-social-block_separator = #AED7FF
$button_border_color = #FFFFFF
$button_background = #FFFFFF
$social-button_color = #FFFFFF
$social-button_facebook_color = #3B5998
$social-button_twitter_color = #00ACED
$social-button_email_color = #26CA96
$update-button_color = #0C6FFB
$update-button_text_color = #FFFFFF
$author-social-button_color = #0C6FFB